*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    font-size: 90%;
    width: 100vw;
    background-color: rgb(241, 233, 216);
}
div{
    width: 100%;
    margin: auto;
}
table, th, tr, td{
    border: 2px solid gray;
}
th, td{
    padding: 10px;
}
table{
    width: 80%;
    margin: auto;
    border-collapse:collapse;
}
caption{
    font-size: larger;
    padding: 2%;
}
thead{
    background-color: rgb(233, 233, 233);
    font-size: large;
}
tbody{
    background-color: white;
}
td{
    text-align: right;
}
.caracteristiques{
    text-align: left;
}